@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-content-width: 1024px;

  @apply scroll-smooth text-[17px] xl:text-[19px] xl:[--max-content-width:1280px];
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
}

a {
  @apply text-sky-600 dark:text-sky-500 hover:md:underline hover:brightness-[0.92] dark:hover:brightness-110;
}

body {
  @apply relative dark:bg-neutral-950 dark:text-neutral-200;
}

body > *:not(.blurred-background, footer) {
  @apply relative z-[5];
}

.blurred-background {
  @apply bg-[url(/blurred-background.webp)] bg-cover bg-center bg-no-repeat bg-white dark:bg-neutral-950;
}

@supports (animation-timeline: view()) {
  .scroll-reveal {
    animation: var(--reveal-effect, opacity) linear both;
    animation-timeline: view();
    animation-range:
      cover var(--reveal-start, 6%)
      cover calc(var(--reveal-start, 6%) + var(--reveal-range, 10%));
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes whale {
  0% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  25% {
    transform: rotate(15deg) translate(0%, -10%);
  }
  50% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  75% {
    transform: rotate(-15deg) translate(0%, 10%);
  }
}

@keyframes scale {
	from {
    transform: scale(0.6);
	}
	to {
    transform: scale(1);
	}
}

@keyframes opacity {
	from {
    opacity: 0;
	}
	to {
    opacity: 1;
	}
}

.hamburger-icon {
  @apply relative drop-shadow-lg;
  @apply before:block before:rounded-full before:h-[4px] before:w-[32px] before:duration-300 before:bg-black before:dark:bg-white before:content-[''];
  @apply after:block after:rounded-full after:h-[4px] after:w-[32px] after:duration-300 after:bg-black after:dark:bg-white after:content-[''] after:mt-[12px];
}
.hamburger-icon.close-icon {
  @apply before:[transform:rotateZ(134deg)_translate(7px,-7px)] after:[transform:rotateZ(-135deg)_translate(4px,5px)];
}

#nprogress .spinner {
  display: none !important;
}
