@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-content-width: 1024px;

  font-size: 17px;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
}

a {
  @apply text-sky-600 dark:text-sky-500 hover:md:underline hover:brightness-[0.92] dark:hover:brightness-110;
}

body {
  @apply dark:bg-neutral-950 dark:text-neutral-200;
}

@supports (animation-timeline: view()) {
  .scroll-reveal {
    animation: var(--reveal-effect, opacity) linear both;
    animation-timeline: view();
    animation-range:
      cover var(--reveal-start, 6%)
      cover calc(var(--reveal-start, 6%) + var(--reveal-range, 10%));
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes whale {
  0% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  25% {
    transform: rotate(15deg) translate(0%, -10%);
  }
  50% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  75% {
    transform: rotate(-15deg) translate(0%, 10%);
  }
}

@keyframes scale {
	from {
    transform: scale(0.6);
	}
	to {
    transform: scale(1);
	}
}

@keyframes opacity {
	from {
    opacity: 0;
	}
	to {
    opacity: 1;
	}
}
